{% extends 'consultorio/main.html' %}
{% load static %}

{% block title%} Calendario {% endblock %}

{% block calendario %}   
    <div class="title is-4" style="text-align:center; color: black; padding-top: 10px; background: mediumorchid;">
        <h4>Citas del Dia</h4>
    </div>
  <div class="columns">
    <div class="container column is-12">

      <table class="table is-fullwidth is-striped is-hoverable" style="background: transparent;">
        <thead>
          <tr>
            <th title="Position">Hora</th>
            <th>Citas</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th title="Position">Hora</th>
            <th>Citas</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
              <th>9:00am</th>
              <td> <button class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">Asignar</button>
              </td>
          </tr>
          <tr>
              <th>10:00am</th>
              <td> <button class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">Asignar</button>
              </td>
          </tr>
          <tr>
              <th>11:00am</th>
              <td> <button class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">Asignar</button>
              </td>
          </tr>
          <tr>
              <th>12:00am</th>
              <td> <button class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">Asignar</button>
              </td>
          </tr>
          <tr>
              <th>1:00pm</th>
              <td> <button class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">Asignar</button>
              </td>
          </tr>
          <tr>
              <th>2:00pm</th>
              <td> <button class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">Asignar</button>
              </td>
          </tr>
          <tr>
              <th>3:00pm</th>
              <td> <button class="button is-primary is-light is-small" style="margin-left: 50px;float: right;">Asignar</button>
              </td>
          </tr>
          
          <tr class="is-selected">
            <th>10:00 am</th>
            <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Manchester City</a></td>
          </tr>
          
          
        </tbody>
    </table>
  </div>
  </div>
  <div class="container">
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
      </ul>
    </nav>    
  </div>

{% endblock %}

{% block js %} 
    <script type="text/javascript">
        let calendar = new Calendar('calendar');
        calendar.getElement().addEventListener('change', e => {
            console.log(calendar.value().format('LLL'));
        });
      </script>
{% endblock %}