{% extends 'consultorio/main.html' %}
{% load static %}

{% block title%} Calendario {% endblock %}

{% block calendario %}   
    <div class="title is-4" style="text-align:center; color: black; padding-top: 10px; background: mediumorchid;">
        <div class="columns">
          <div class="column is-4">

      <h4>Citas del Dia</h4>

          </div>
          <div class="column is-8">
        <h1 id="fecha"></h1>

          </div>
        </div>  
    </div>
   
  <div class="columns">
    <div class="column is-4" id="calendar" style="background-color: mediumorchid" style="padding-left: 12px;">


    </div>
    
    <div class="container column is-8">
      
      {% block citas %} {% endblock %}
  </div>
  
</div>
<form action="" method="POST" style="padding-top: 0px;" id="form_fecha">
  {% csrf_token %}
  <input type="text" name="dia" id="dia">
</form>
  
{% endblock %}

{% block js %} 
  <script type="text/javascript">
    document.getElementById("fecha").innerHTML = localStorage.getItem("fecha");
    
    let calendar = new Calendar('calendar');
      calendar.getElement().addEventListener('change', e => {
        fech = calendar.value().format('LL');
        f = calendar.value().format('Y-MM-DD');
        document.getElementById('fecha').innerHTML = fech;
        document.getElementById('dia').value = f;
        localStorage.setItem("fecha", fech);
        localStorage.setItem("fecha2", f); 
        document.getElementById("form_fecha").submit();
        });

      </script>
{% endblock %}