{% extends 'consultorio/main.html' %}
{% load static %}

{% block title%} Historias {% endblock %}

{% block historias %}
<form action="" method="POST" style="padding-top: 0px;">
  {% csrf_token %}
  <div class="title is-4" style="text-align:center; color: black; padding-top: 10px; background: mediumorchid;">
    <h4>Buscar Historia</h4>
  </div>
  <div class="container">
    <div class="field has-addons" style="justify-content:center">
      <div class="control"> 
        <input class="input" type="text" name="busca" placeholder="" style="width: 300px;">
      </div>
      <div class="control">
        <button class="button is-info" type="submit">
          Buscar
        </button>
      </div>
    </div>
    <div class="control" style="color:black; justify-content:center;">
      <label class="radio" style="float: left;">
        <input type="radio" name="buscalo" value="c" checked>
        Cedulas
      </label>
      <label class="radio" style="margin-left: 500px;">
        <input type="radio" name="buscalo" value="a">
        Apellidos
      </label>
      <label class="radio" style="float: right;">
        <input type="radio" name="buscalo" value="t">
        Todos
      </label>
    </div>
  </div>
</form>
{% block busqueda %}

{% endblock %}

{% endblock %}

{% block js %} 
    <script type="text/javascript">
        let calendar = new Calendar('calendar');
        calendar.getElement().addEventListener('change', e => {
            console.log(calendar.value().format('LLL'));
        });
      </script>
{% endblock %}