{% extends 'consultorio/main.html' %}
{% load static %}

{% block title%} Registro {% endblock %}

{% block calendario %}   
<form action="" id="formulario" name="formulario"  style="padding: 0px 0px;" method="POST">
  {% csrf_token %}
    <div class="title is-5" style="text-align:center; color: black; padding-top: 10px; background: #edd9f2;">
        <h1>REGISTRO DE PACIENTE</h1>
    </div>
    <div class="title is-4" style="text-align:center; color: black; padding-top: 10px; background: mediumorchid;">
      <h4>Datos Personales</h4>
    </div>
    <div class="columns">
      <div class="column is-6">
        <div class="container">
              <div class="field">
                    <label class="label">Nombre:</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Nombre del paciente" value="" name="Nombre" id="Nombre">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i id="Ncheck" class="fas"></i>
                        </span>
                    </div>           
              </div>
              <div class="field">
                <label class="label">Apellido:</label>
                <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Apellido del paciente" value="" name="Apellido" id="Apellido">
                      <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i id="Acheck" class="fas"></i>
                      </span>
                </div>
              </div>
           
            <div class="field">
              <label class="label">C.I.:</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Cedula" value="" name="Cedula" id="idPaciente">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i id="Ccheck" class="fas"></i>
              </span>
              </div>
            </div>
            <div class="field"> 
              <label  class="label" for="fecha" style="color: black;">Fecha de Nacimiento:</label>
              <input type="date" id="Edad" name="Edad">
            </div>
            <div class="field" style="padding-top: 30px;"> 
              <label class="label" required> 
                <i class="fas fa-venus-mars"> </i> Sexo: 
                <label class="radio" style="margin-left: 20px;">
                  <input type="radio" name="sexo" value="F"> <span class=" tag is-danger"> Femenino</span>
                </label>
                <label class="radio" style="float: right;">
                  <input type="radio" name="sexo" value="M"> <span class=" tag is-link">  Masculino</span>
                </label>
              </label>
            </div>
          <div class="column is-6">
            <div class="container">
              <div class="field">
                <label class="label">Direccion:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Direccion" value="" name="Direccion" id="Direccion">
                  <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i id="Dcheck" class="fas"></i>
                  </span>
              </div>
              </div>
              <div class="field">
                <label class="label">Ocupación:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Trabajo" value="" name="Ocupacion" id="Ocupacion">
                  <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i id="Ocheck" class="fas"></i>
                  </span>
              </div>
              </div>
              <div class="field">
                <div class="columns">
                  <div class="column">
                  <label class="label">Telefono</label>   
                  <div class="field has-addons">
                    <p class="control">
                      <span class="select">
                        <select>
                          <option>+</option>
                          <option>0416</option>
                          <option>0426</option>
                          <option>0412</option>
                          <option>0414</option>
                          <option>0424</option>
                        </select>
                      </span>
                    </p>
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Telefono">
                    </p>
                    <p class="control">
                    </p>
                  </div>
                  </div>
                  <div class="column">
                    <label class="label">Telefono Casa</label> 
                    <div class="field has-addons">
                      <p class="control">
                        <span class="select">
                          <select>
                            <option>+</option>
                            <option>0416</option>
                            <option>0426</option>
                            <option>0412</option>
                            <option>0414</option>
                            <option>0424</option>
                          </select>
                        </span>
                      </p>
                      <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Telefono">
                      </p>
                      <p class="control">
                      </p>
                    </div>
                  </div>
                </div>
              </div>                    
              <div class="field">
                <label class="label">Correo</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input is-danger" type="email" placeholder="Email input" value="" name="Correo">
                  </div>
              
              </div>                         
              <div class="field">
                <label class="label">Motivo:</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input" name="Motivo">
                </div>
              </div>
              <div class="field"> 
                <label  class="label" for="fecha" style="color: black;">Fecha de Registro:</label>
                <input type="date" id="unir" name="fecha_ini">
              </div>
            </div>
            
          </div>

    </div>

             <div class="field is-grouped">
              <button type="submit" class="button is-success">
                <span class="icon is-small">
                  <i class="fas fa-check"></i>
                </span>
                <span>Save</span>
              </button>
              <button class="button is-danger is-outlined">
                <span>Delete</span>
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
              </button>
              </div>
            </form>

{% endblock %}
{% block js %} 
{% endblock %}